<%= form_for task do |f| %>
  <div class='form-group'>
    <%= f.text_field :description, placeholder: 'create a task'%>
  </div>
  
  <div class='form-group'>
    <%= f.text_field :due_date, id:"'due_date_'#{task.id}", class:'date', placeholder: 'due date'%>
  </div>
  
  <hr>
  <div class='form-group'>
    <%= button_tag(type:'patch', class:"btn btn-default btn-xs edit-btn") do %>
      <span>Save and Close</span>
  </div>
  <% end %>

<% end %>


<script>
$('.date').each(function(){
  $(this).pickadate();
});
</script>
