<div class='tasks'>
  <div class= 'container-fluid'>
    <h4 style='text-align: center'>Tasks</h4> 
    <%= render 'form' %>
    
    </br>
    </br>
    
    <div id='user_tasks'>
      <% @tasks.each do |task| %>
        <ul>
            <li>
            <%= task.description %>
          <%= link_to edit_task_path(task), method: 'get', remote: 'true' do %> 
          <span class = 'edit_task_<%=task.id%> glyphicon glyphicon-pencil' role: 'button' rel:'popover'> </span>
          <% end %>
            </li>
        </ul>
      <% end %> 
    </div>    
  </div>
</div>



<script>
  $( "#date" ).datepicker();
</script>
