<div class='tasks'>
  <div class= 'container-fluid'>
    <h4 style='text-align: center'>Tasks</h4> 
    <%= render 'form' %>
    
    </br>
    </br>
    
    <div id='user_tasks'>
      <% @tasks.each do |task| %>
        <ul>
            <li>
              <%= task.description %>
              <%=link_to(edit_task_path(task),"data-toggle"=>"popover", remote:'true') do %> 
                <span id='edit_<%=task.id%>' class= 'form glyphicon glyphicon-pencil'></span>
              <% end %>
            </li>
        </ul>
      <% end %> 
    </div>    
  </div>
</div>


