/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'jquery-ui';
@import "pickadate/classic";
@import "pickadate/classic.date";
@import "pickadate/classic.time";

.navbar .nav {
  padding-left: 0px;
  display: inline;
}
ul{
  padding:0;
}
#content {
  background-color: #6f5499;
  background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);
  background-repeat: repeat-x;
}

.navbar-header, .navbar-brand,h1,a, a:link,a:hover {
  text-decoration: none;
  margin-top: -.20em;
  color: #fff;
}

.tasks{
  margin-top: 1em;
  min-height:30em;
  max-width:20em;
  background-color: #dcdcdc;
  border-style:solid;
  border-width: 2px;
  border-color: #000000;
  padding-bottom: 1em;
}


.edit_popover{
  display: none;
  padding-top:1em;
  border-width: 2px;
  border-color: #000000;
  height:20em;
  background-color: #dcdcdc;
}
.task-description{
  margin-top:  -1.5em;
}

.the-form{
  text-align: center;
}

.user-tasks{
  margin: .5em;
  
}

.easy{
  background-color: #00CCFF;
}

.medium{
  background-color: #99cc33;
}

.hard{
  background-color: #f08080;
}
//form//
.form-group{
  text-align:center;
}
//pickerdate//

.picker__holder{
  margin-left:-1em;
} 

.picker__table{
  font-size: .65em;
}
