<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" ><h1><%=link_to 'ToDoIt!', root_path%></h1></span>
</div>

<div class="collapse navbar-collapse" id="navigation" >
<ul class="nav navbar-nav navbar-right" >
  <li role="presentation"><%= link_to 'Register', register_path%></li>
  <li role="presentation"><%= link_to 'Login', login_path %>  </li>
  <li role='presentation'> <%= link_to 'Tasks', tasks_path %></li>
</ul>
</div>